<!DOCTYPE html>
<html>
    <body>
        <a href="/administrador"><p>Volver al menú de administrador</p></a>
        <% data.forEach(function(foundData, i){%>
            <tr>
            <td><%= foundData %></td>
            </tr>
            <%})%>
    </body>
</html>